# Project exclude paths
/gulimall-common/target/
/gulimall-coupon/target/
/gulimall-gateway/target/
/gulimall-member/target/
/gulimall-order/target/
/gulimall-product/target/
/gulimall-ware/target/
/renren-generator/target/